/.idea/git_toolbox_prj.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_15_03_2022,_14_03_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_15_03_2022__12_30__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_15_03_2022__12_33__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_15_03_2022__14_03__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
